*
{
    scroll-behavior: smooth;
}

.sec{
    display: grid;
    align-content: center;
    place-items: center;
    min-height: 100vh;
}

#sec1{
    margin-top: 92px;
  }

.mid-align{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%; 
}

.icons{
    padding-top: 5px;
    display: flex;
    place-content: center;
    gap: 22px;
}

.icon:nth-child(1){
    transition-delay: 5s;
}
.icon:nth-child(2){
    transition-delay: 5.2s;
}
.icon:nth-child(3){
    transition-delay: 1s;
}

.logos{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 330px;
    width: 900px;
}

.logo:nth-child(1){
    position: absolute;
    transform: rotate(-8deg);
    left: 0px;
    transition-delay: 0.5s;
}

.logo:nth-child(2){
    position: absolute;
    top:-25%;
    right: 40%;
    transform: rotate(6deg);
    transition-delay: 1s;
}

.logo:nth-child(3){
    position: absolute;
    top:-10%;
    right: 0%;
    transform: rotate(-6deg);
    transition-delay: 1.5s;
}

.logo:nth-child(4){
    position: absolute;
    bottom:-28%;
    left: 4%;
    transform: rotate(6deg);
    transition-delay: 1.5s;
}
.logo:nth-child(5){
    position: absolute;
    bottom:-10%;
    right: 0%;
    transform: rotate(-8deg);
    transition-delay: 2s;
}

.invis{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.headers{
    padding-bottom: 1%;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 110%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{ 
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 48em;} 
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.arrow {
    position: absolute;
    border: solid antiquewhite;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: 50%;
    bottom: 35vh;
    animation: jumpInfinite 1.8s infinite; 
  }

.about-arrow{
    transition-delay: 6.8s;
}

@keyframes jumpInfinite {
    0% {
      bottom: 35vh;
    }
    50% {
      bottom: 33vh;
    }
    100% {
      bottom: 35vh;
    }
}

#arrow-container{
    position:absolute;
    height: 10px;
    width: 200px;
    right: 42%;
    bottom:35%;
}

.back{
    position: fixed;
    left: 0;
    top: 0;
    margin: 4px;
    color: white;
  }
  .circle-back{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:  4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.45s ease;
    text-decoration: none;
  }
  .circle-back:hover{
    text-decoration: none;
    color: #4a70bd;
    border: solid #4a70bd 4px;
    box-shadow: 0 0 15px #4a70bd;
    text-shadow: 0 0 3px #4a70bd;
  }
  