<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess</title>
    <style>
        body{  
            min-width: 90vw;
        min-height: 90vh;
    background: radial-gradient(#5485ab, #476985);
    }
    a{
      color: inherit; /*keeps icon buttons black*/
    }
</style>

<script src="https://kit.fontawesome.com/4776680ca3.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="{{url_for('static', filename='javascript_chess.js')}}" defer></script>
</head>
<body>

<div id="game-outcome"></div>

<!--
<input type="radio" name="payment" id="card">
<label for="card">
    <i class="fa fa-credit-card" aria-hidden="true"></i>
    <span>Card</span>
</label>
<input type="radio" name="payment" id="cash">
<label for="cash">
    <i class="fa fa-money" aria-hidden="true"></i>
    <span>Cash</span>
</label>     
-->  



<form id="chess-settings-form">
<div class="select-box">
    <div class=select-box-content>
        
        <!--<header>Select Settings</header>-->
        <h3>Choose your color</h3>
        
        <div class="options">
             
            
                <!--  name="botOrFriend"  -->
                <input type="radio" name="color-select" id="white" value="white">
                <label for="white" class="piece-label-white">
                    <div class="white-select">
                    <i class="fa-solid fa-chess piece-icons" aria-hidden="true"></i>
                </div>
                <span>White</span>
            </label>
                
                
                <input type="radio" name="color-select" id="black" value="black">
                <label for="black" class="piece-label-black">
                    <div class="black-select">
                    <i class="fa-solid fa-chess piece-icons" aria-hidden="true"></i>
                </div>
                    <span>Black</span>
                </label>

        </div>
        
         

        <h3>Choose engine difficulty</h3>

        <div class="slider">
            <label for="fader">Difficulty </label>
            <input type="range" min="2" max="4" value="3" id="fader" 
            step="1" list="volsettings">
            <datalist id="volsettings">
            <option>2</option>
            
            <option>3</option>
            <option>4</option>
            </datalist>
            
            </div>
        
            <div class="difficulty-container">
            <p>Easy</p>
            <p>Medium</p>
            <p>Hard</p>
            </div>
            

            <button type="submit" id="submit-btn">
                START GAME
                <i class="fa-solid fa-chess-king king"></i>
                <span class="block1"></span>
                <span class="block2"></span>
                
              </button>

              <p id="no-engine-btn">Play w/o Engine</p>
    </div>
</div>
</form>



<div class="board">
    <div class="row">
      <div class="light" id="a8"></div>
      <div class="dark" id="b8"></div>
      <div class="light" id="c8"></div>
      <div class="dark" id="d8"></div>
      <div class="light" id="e8"></div>
      <div class="dark" id="f8"></div>
      <div class="light" id="g8"></div>
      <div class="dark" id="h8"></div>
    </div>
    <div class="row">
      <div class="dark" id="a7"></div>
      <div class="light" id="b7"></div>
      <div class="dark" id="c7"></div>
      <div class="light" id="d7"></div>
      <div class="dark" id="e7"></div>
      <div class="light" id="f7"></div>
      <div class="dark" id="g7"></div>
      <div class="light" id="h7"></div>
    </div>
    <div class="row">
      <div class="light" id="a6"></div>
      <div class="dark" id="b6"></div>
      <div class="light" id="c6"></div>
      <div class="dark" id="d6"></div>
      <div class="light" id="e6"></div>
      <div class="dark" id="f6"></div>
      <div class="light" id="g6"></div>
      <div class="dark" id="h6"></div>
    </div>
    <div class="row">
      <div class="dark" id="a5"></div>
      <div class="light" id="b5"></div>
      <div class="dark" id="c5"></div>
      <div class="light" id="d5"></div>
      <div class="dark" id="e5"></div>
      <div class="light" id="f5"></div>
      <div class="dark" id="g5"></div>
      <div class="light" id="h5"></div>
    </div>
    <div class="row">
      <div class="light" id="a4"></div>
      <div class="dark" id="b4"></div>
      <div class="light" id="c4"></div>
      <div class="dark" id="d4"></div>
      <div class="light" id="e4"></div>
      <div class="dark" id="f4"></div>
      <div class="light" id="g4"></div>
      <div class="dark" id="h4"></div>
    </div>
    <div class="row">
      <div class="dark" id="a3"></div>
      <div class="light" id="b3"></div>
      <div class="dark" id="c3"></div>
      <div class="light" id="d3"></div>
      <div class="dark" id="e3"></div>
      <div class="light" id="f3"></div>
      <div class="dark" id="g3"></div>
      <div class="light" id="h3"></div>
    </div>
    <div class="row">
      <div class="light" id="a2"></div>
      <div class="dark" id="b2"></div>
      <div class="light" id="c2"></div>
      <div class="dark" id="d2"></div>
      <div class="light" id="e2"></div>
      <div class="dark" id="f2"></div>
      <div class="light" id="g2"></div>
      <div class="dark" id="h2"></div>
    </div>
    <div class="row">
      <div class="dark" id="a1"></div>
      <div class="light" id="b1"></div>
      <div class="dark" id="c1"></div>
      <div class="light" id="d1"></div>
      <div class="dark" id="e1"></div>
      <div class="light" id="f1"></div>
      <div class="dark" id="g1"></div>
      <div class="light" id="h1"></div>
      </div>
      

      <!--Black pieces-->
      <img src="{{ url_for('static',filename='images/black_king.png') }}" class="pieces" id="b-king">
      <img src="{{ url_for('static',filename='images/black_queen.png') }}" class="pieces" id="b-queen">
      <img src="{{ url_for('static',filename='images/black_bishop.png') }}" class="pieces" id="b-bishop1">
      <img src="{{ url_for('static',filename='images/black_bishop.png') }}" class="pieces" id="b-bishop2">
      <img src="{{ url_for('static',filename='images/black_knight.png') }}" class="pieces" id="b-knight1">
      <img src="{{ url_for('static',filename='images/black_knight.png') }}" class="pieces" id="b-knight2">
      <img src="{{ url_for('static',filename='images/black_rook.png') }}" class="pieces" id="b-rook1">
      <img src="{{ url_for('static',filename='images/black_rook.png') }}" class="pieces" id="b-rook2">
      <img src="{{ url_for('static',filename='images/black_pawn.png') }}" class="pieces" id="b-pawn1">
      <img src="{{ url_for('static',filename='images/black_pawn.png') }}" class="pieces" id="b-pawn2">
      <img src="{{ url_for('static',filename='images/black_pawn.png') }}" class="pieces" id="b-pawn3">
      <img src="{{ url_for('static',filename='images/black_pawn.png') }}" class="pieces" id="b-pawn4">
      <img src="{{ url_for('static',filename='images/black_pawn.png') }}" class="pieces" id="b-pawn5">
      <img src="{{ url_for('static',filename='images/black_pawn.png') }}" class="pieces" id="b-pawn6">
      <img src="{{ url_for('static',filename='images/black_pawn.png') }}" class="pieces" id="b-pawn7">
      <img src="{{ url_for('static',filename='images/black_pawn.png') }}" class="pieces" id="b-pawn8">
      
      <!--White pieces-->
      <img src="{{ url_for('static',filename='images/white_king.png') }}" class="pieces" id="w-king">
      <img src="{{ url_for('static',filename='images/white_queen.png') }}" class="pieces" id="w-queen">
      <img src="{{ url_for('static',filename='images/white_bishop.png') }}" class="pieces" id="w-bishop1">
      <img src="{{ url_for('static',filename='images/white_bishop.png') }}" class="pieces" id="w-bishop2">
      <img src="{{ url_for('static',filename='images/white_knight.png') }}" class="pieces" id="w-knight1">
      <img src="{{ url_for('static',filename='images/white_knight.png') }}" class="pieces" id="w-knight2">
      <img src="{{ url_for('static',filename='images/white_rook.png') }}" class="pieces" id="w-rook1">
      <img src="{{ url_for('static',filename='images/white_rook.png') }}" class="pieces" id="w-rook2">
      <img src="{{ url_for('static',filename='images/white_pawn.png') }}" class="pieces" id="w-pawn1">
      <img src="{{ url_for('static',filename='images/white_pawn.png') }}" class="pieces" id="w-pawn2">
      <img src="{{ url_for('static',filename='images/white_pawn.png') }}" class="pieces" id="w-pawn3">
      <img src="{{ url_for('static',filename='images/white_pawn.png') }}" class="pieces" id="w-pawn4">
      <img src="{{ url_for('static',filename='images/white_pawn.png') }}" class="pieces" id="w-pawn5">
      <img src="{{ url_for('static',filename='images/white_pawn.png') }}" class="pieces" id="w-pawn6">
      <img src="{{ url_for('static',filename='images/white_pawn.png') }}" class="pieces" id="w-pawn7">
      <img src="{{ url_for('static',filename='images/white_pawn.png') }}" class="pieces" id="w-pawn8">

      <p class="white-turn">White to move</p>
      <p class="black-turn">Black to move</p>
      <p class="thinking-msg">Engine is thinking...</p>

      <button onclick="refresh()" id="reset-chess">Reset Game</button>
      <div class="circle-chess-icon customize-chess">
        <i class="fa-solid fa-pencil fa-2x"></i>
    </div>     
    </div>
    

       
      
        <a href="/">
          <div class="circle home-icon">
              <i class="fa-solid fa-house fa-2x"></i>
          </div>
      </a>
      
      <!--customize and info button, appears when gamemode is chosen-->
      <div class="icon-container">
           
        <a href="/about">
          <div class="circle info-icon">
              <i class="fa-solid fa-info fa-2x"></i>
          </div>
          </a>
      </div>
      

{% endblock %}
</body>
</html>