<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
    body { background-color: rgb(23,32,49); }
    </style>
</head>

<body>
    <div id="select-text">
    <h1>Select your game</h1>
</div>
    <div class="game-select">
        <div class="box1">
        <a href="/tictactoe">
            <img src="{{ url_for('static',filename='images/tic_tac_toe.png') }}" class="game-images" id="tic-tac-toe">
            <img src="{{ url_for('static',filename='images/play.png') }}" class="game-images" id="play-button">
            <div class="game-images" id="game-image"></div>
        </a>
        </div>

        <div class="box2">
        <a href="/chess">
            <img src="{{ url_for('static',filename='images/chess.png') }}" class="game-images" id="tic-tac-toe">
            <img src="{{ url_for('static',filename='images/play.png') }}" class="game-images" id="play-button">
            <div class="game-images" id="game-image"></div>
        </a>
        </div>
</div>
    {% endblock %}
</body>

</html>